<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Novo Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Biblioteca</h1>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('lista_usuario') }}">Ver usuários</a>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
</header>

<main>
    <h2>Adicionar Novo Usuário</h2>

    <form action="{{ url_for('criar_usuario') }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">Senha:</label>
        <input type="text" id="senha" name="senha" required>

        <button type="submit">Salvar</button>
        <a href="{{ url_for('lista_usuario') }}">Cancelar</a>
    </form>
</main>
</body>
</html>
