<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Novo Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Biblioteca</h1>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('lista_usuario') }}"> Ver usuários</a>
            <a href="{{ url_for('login') }}">Login</a>
    </header>
    <main>
        <h2>Adicionar Novo Livro</h2>

        <form action="{{ url_for('criar') }}" method="post">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>

            <label for="autor">Autor:</label>
            <input type="text" id="autor" name="autor" required>

            <label for="ano_publicado">Ano de Publicação:</label>
            <input type="number" id="ano_publicado" name="ano_publicado" required>

            <button type="submit">Salvar</button>
            <a href="{{ url_for('index') }}">Cancelar</a>

         </form>
    </main>
</body>
</html>
